- var meta_title = 'sphere to plane';
- var meta_keywords = 'webgl';
- var meta_description = 'moving vertices from sphere geometry to plane geometry.';
- var meta_path = "/";
- var meta_ogp_img = "ogp.jpg"

doctype html
html(lang="ja")
  head
    include ./modules/_head.pug
  body
    canvas(id="canvas-webgl", class="p-canvas-webgl")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r78/three.min.js")
    script(src="https://code.jquery.com/jquery-3.0.0.slim.min.js")
    script(src="/js/vendor/dat.gui.min.js")
    script(src="/js/main.js")
