- var media = 'pc';
- var meta_title = '';
- var meta_keywords = '';
- var meta_description = '';
- var meta_path = "";
- var meta_ogp_img = "ogp.jpg"

doctype html
html(lang="ja")
  head
    include ./modules/_head.pug
  body.index
    .l-page
      include ./modules/_l-gh.pug
      include ./modules/_l-gf.pug
    include ./modules/_script.pug
